.layout {
	width: 100%;
	min-height: 100vh;
}

.container {
	border: 1px solid black;
	min-height: 100vh;
	margin: 50px;
}

.outline {
	border: 1px solid black;
}

/* css center box */
.centerFlex {
	display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.centerBoxFlex {
	border: 1px solid black;
	width: 200px;
	height: 200px;
	background-color: red;
	color: white;
	margin: auto;
}

.centerGrid {
	display: grid;
    align-items: center;
    justify-content: center;
}

.centerBoxGrid {
	border: 1px solid black;
	width: 200px;
	height: 200px;
	background-color: red;
	color: white;
	/*margin: auto;*/
}

.centerTransform {
    position: relative;
}

.centerBoxTransform {
	border: 1px solid black;
	width: 200px;
	height: 200px;
	background-color: red;
	color: white;
	position: absolute;
	left: 50%; 
	top: 50%; 
	transform: translate(-50%,-50%);
}

.centerMargin {
	position: relative;
}

.centerBoxMargin {
	border: 1px solid black;
	width: 200px;
	height: 200px;
	background-color: red;
	color: white;
	margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
}

.centertableOuter {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.centertableMiddle {
    display: table-cell;
    vertical-align: middle;
}

.centertableInner {
    margin-left: auto;
    margin-right: auto;
}

.centerBoxTable {
	border: 1px solid black;
	width: 200px;
	height: 200px;
	background-color: red;
	color: white;
}

.centerInline {
    text-align: center;
}

.centerBoxInline {
	border: 1px solid black;
	width: 200px;
	height: 200px;
	background-color: red;
	color: white;
    display: inline-block;
}
