.drag-drop-container {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  overflow-y: auto;
}

.item {
  margin: 20px;
  padding: 10px;
  border: 1px solid blue;
  cursor: pointer;
}

.container-fluid {
}

.row {
	display: flex;
}

.col-6 {
	flex: 1;
}